#latex artifacts
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.toc
*.synctex.gz

# Bibliography files
*.bbl
*.blg

# Index files
*.idx
*.ilg
*.ind

# other build artifacts:
build/
*.so
*.o 
*.a 
*.dylib 
*.dll 
*.exe

# CMake artifacts:
CMakeCache.txt
CMakeFiles/
cmake_install.cmake 
compile_commands.json
CTestTestfile.cmake

#vim artifacts
*.swp
*.swo

# other 
*.log
*.tmp 



/ignore
